################################################################
# Configuration
################################################################

# set color mode
set-option -g default-terminal screen-256color
set -g terminal-overrides 'xterm:colors=256'

# use emacs like
set-window-option -g mode-keys emacs

# set history
set-option -g history-limit 10000

#### start number pane and window
# window
set -g base-index 1
# pane
set -g pane-base-index 1

# renumber window when after closing them
set -g renumber-windows on

# show pane number time (C-i)
set-option -g display-panes-time 5000

# key config
set-window-option -g xterm-keys on

# use utf-8 (The utf8 option has been removed in v2.2 and later.)
# set-window-option -g utf8 on

################################################################
# key bindings
################################################################

#### change prefix C-b -> C-t
set -g prefix C-t
unbind C-b
bind C-t send-prefix

# define reload command
bind r source-file ~/.tmux.conf \; display "Reloaded!"

# no delay for escape key press
set -sg escape-time 0

# set repeate prefix time
set -g repeat-time 1500

# select
bind -r UP select-pane -U
bind -r DOWN select-pane -D
bind -r LEFT select-pane -L
bind -r RIGHT select-pane -R

# resize pane
bind -r S-UP resize-pane -U 1
bind -r S-DOWN resize-pane -D 1
bind -r S-LEFT resize-pane -L 1
bind -r S-RIGHT resize-pane -R 1

# toggle synchronize
bind C-s setw 'synchronize-panes'

# move pain
bind -r { swap-pane -U
bind -r } swap-pane -D

# use current directory when spliting
# splits short cut
bind h split-window -v -c "#{pane_current_path}"
bind v split-window -h -c "#{pane_current_path}"

# Move current pane to given window in a vertical (m) or horizontal (M) split
bind H choose-window -F "#{window_index}: #{window_name}" "join-pane -h -t %%"
bind V choose-window -F "#{window_index}: #{window_name}" "join-pane -v -t %%"

# show number of pane
bind i display-panes

# mousemode
set -g mouse off
bind-key m if-shell \
	"tmux show-options -g mouse | grep off" "set-option -g mouse on" "set-option -g mouse off"

################################################################
# status bar
################################################################

# draw interval
set-option -g status-interval 1
set -g status-position bottom

# status bar length
set-option -g status-left-length 30
#set-option -g status-right-length 80

# left status
set-option -g status-left "\
#[bg=colour087,fg=colour234][#S:#I.#P]\
#[bg=colour062,fg=colour255] #h \
#[bg=colour024,fg=colour255] #(hostname -I | grep -oE '[0-9\.]{7,}' | sort ) "

# right status
set-option -g status-right "\
#[bg=colour024,fg=colour255] %F/%T "

# status format
set-window-option -g window-status-format " #I:#W "
set-window-option -g window-status-current-format "(#I:#W)"

# pane border
set -g pane-border-bg colour000
set -g pane-border-fg colour008
set -g pane-active-border-bg colour000
set -g pane-active-border-fg colour046

set-option -g status-justify left
set -g status-fg default
set -g status-bg colour017

setw -g window-status-fg colour242
setw -g window-status-bg default
setw -g window-status-attr none

setw -g window-status-current-fg colour255
setw -g window-status-current-bg colour027
setw -g window-status-current-attr bright

##### command line
set -g message-fg white
set -g message-bg colour017
set -g message-attr bright
